/* Hide scrollbar */
.explore-menu-list::-webkit-scrollbar {
    display: none;
}
.explore-menu-list{
    scrollbar-width: none;
}

/* Image cursor pointer */
.explore-menu-list-item img {
    cursor: pointer;
}

/* Active category style */
.explore-menu-list-item .active {
    border: 5px solid blue;
    padding: 2px;
}

.explore-menu hr {
    margin: 10px 0px;
    height: 2px;
    background-color: #e2e2;
    border: none;

}

/* Category text style */
.explore-menu-list-item p {
    color: #747474;
    cursor: pointer;
}

/* Scroll icons style */
.scroll-icon {
    font-size: 24px;
    cursor: pointer;
    margin-left: 10px;
    color: #747474;
    transition: color 0.2s;
}
.scroll-icon:hover{
    color: blue;
}
